/*---------- home.css for Portfolio Kakoui ----------*/

/*-- Article About Me  --*/ 

.article_aboutme_about {
    position: absolute;
    top: 12.5%;
    left: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 75%;
    width: 70%;
}

/*TitleOfArticle*/

#title_aboutme_about {
    position: absolute;
    top: 5%;
    right: 45%;
    color: white;
    text-decoration: none;
    font-size: 250%;
    margin-left: 24.5%;
    font-weight: bold;
    height: 100%;
    width: 50%;
}

/*Image*/

#image_aboutme_about {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
}

/*TextOfArticle*/

#text_aboutme_about {
    position: absolute;
    left: 5%;
    top: 17.5%;
    height: 72%;
    width: 37.5%;
    font-weight: lighter;
    overflow: auto;
}

/*Button_READMORE*/

#button_aboutme_about {
    position: absolute;
    top: 85%;
    left: 5%;
}

#button_aboutme_about:hover {
    border: 2px white solid;
    color: rgba(0,0,0,0.5);
    background: white;
    transition: 0.5s;
}


