/*---------- style.css for Portfolio Kakoui ----------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


html {
	overflow: hidden;
}

body { 
    background-image: url('../image/background.png');
    background-size: 100%;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/*---------------------------------------  Class ---------------------------------------*/

/*-- Form Type --*/

.form-type {
    display: block;
    width: 30%;
    height: 5%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: rgba(168, 168, 168, 0.5);
    background-image: none;
    border: 0px solid rgba(168, 168, 168, 0.5);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.form-type:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.form-type::placeholder {
    color: #555;
    opacity: 1;
}

/*-- Button Black Type --*/

.btn-black-type {
    text-decoration: none;
    border: 2px white solid;
    color: white;
    background: rgba(0,0,0,0.5);
    height: 5.5%;
    width: 8%;
    font-size: 75%;
    transition: 0.5s;
}

.btn-black-type:hover {
    border: 2px white solid;
    color: rgba(0,0,0,0.5);
    background: white;
    transition: 0.5s;
}

/* Button White Type */

.btn-white-type {
    text-decoration: none;
    border: 2px white solid;
    color: rgba(0,0,0,0.5);
    background: white;
    height: 5.5%;
    width: 8%;
    font-size: 75%;
    transition: 0.5s;
}

.btn-white-type:hover {
    border: 2px white solid;
    color: white;
    background: rgba(0,0,0,0.5);
    transition: 0.5s;
}

/* CheckBox */

.checkbox {
    border: 1px white solid;
    background-color: rgba(0,0,0,0.5);
}

/*------------------------------------------------------------------------------*/


/* --------------------------------------- Navigation ---------------------------------------*/

nav {
    position: absolute;
    top: 40%;
    left: 0%;
    text-decoration: none;
}
  

/*---------------------- Navigation Groupe ----------------------*/

.nav_group {
    text-decoration: none;
}


/*-------------------- HOME_NAV --------------------*/

nav #home_nav {
    position: absolute;
    top: -400%;
    left: 150%;
    height: 500%;
    width: 500%;
    z-index: calc(1);
    list-style-type: none;
    transition: 0.5s;
}

nav #home_nav:hover {
    color:rgba(0, 0, 0, 0.5);
    z-index: calc(1);
    list-style-type: none;
    color:rgba(0, 0, 0, 0.5);
    z-index: calc(1);
    list-style-type: none;
    height: 600%;
    width: 600%;
    transition: 0.5s;
}

/*----*/

nav #image_home_nav_white {
    position: absolute;
    top: 0%;
    left: 0%;
}

/*----*/ 

nav #text_home_nav {
    position: absolute;
    top: 10%;
    left: 35%;
    text-decoration: none; 
    color: white;
}

nav #text_home_nav:hover {
    color: white;
}

/*----------------------------------------*/

/*-------------------- ABOUT_NAV --------------------*/

nav #about_nav {
    position: absolute;
    top: 300%;
    left: 150%;
    height: 500%;
    width: 500%;
    z-index: calc(1);
    list-style-type: none;
    transition: 0.5s;
}

nav #about_nav:hover {
    color:rgba(0, 0, 0, 0.5);
    z-index: calc(1);
    list-style-type: none;
    color:rgba(0, 0, 0, 0.5);
    z-index: calc(1);
    list-style-type: none;
    height: 600%;
    width: 600%;
    transition: 0.5s;
}

/*----*/

nav #image_about_nav_white {
    position: absolute;
    top: 0%;
    left: 0%;
}

/*----*/

nav #text_about_nav {
    position: absolute;
    top: 10%;
    left: 35%;
    text-decoration: none; 
    color: white;
}

nav #text_about_nav:hover {
    color: white;
}

/*----------------------------------------*/

/*-------------------- PROJECT_NAV --------------------*/

nav #project_nav {
    position: absolute;
    top: 1000%;
    left: 150%;
    height: 500%;
    width: 500%;
    z-index: calc(1);
    list-style-type: none;
    transition: 0.5s;
}

nav #project_nav:hover {
    color:rgba(0, 0, 0, 0.5);
    z-index: calc(1);
    list-style-type: none;
    color:rgba(0, 0, 0, 0.5);
    z-index: calc(1);
    list-style-type: none;
    height: 600%;
    width: 600%;
    transition: 0.5s;
}

/*----*/

nav #image_project_nav_white {
    position: absolute;
    top: 0%;
    left: 0%;
}

/*----*/

nav #text_project_nav {
    position: absolute;
    top: 10%;
    left: 35%;
    text-decoration: none; 
    color: white;
}

nav #text_project_nav:hover {
    color: white;
}

/*----------------------------------------*/

/*-------------------- CONTACT_NAV --------------------*/

nav #contact_nav {
    position: absolute;
    top: 1700%;
    left: 150%;
    height: 500%;
    width: 500%;
    z-index: calc(1);
    list-style-type: none;
    transition: 0.5s;
    
}

nav #contact_nav:hover {
    color:rgba(0, 0, 0, 0.5);
    z-index: calc(1);
    list-style-type: none;
    color:rgba(0, 0, 0, 0.5);
    z-index: calc(1);
    list-style-type: none;
    height: 600%;
    width: 600%;
    transition: 0.5s;
}

/*----*/

nav #image_contact_nav_white {
    position: absolute;
    top: 0%;
    left: 0%;
}

/*----*/

nav #text_contact_nav {
    position: absolute;
    top: 10%;
    left: 35%;
    text-decoration: none; 
    color: white;
}

nav #text_contact_nav:hover {
    color: white;
}

/*----------------------------------------*/


/*------------------------------------------------------------------------------*/



/* --------------------------------------- Header ---------------------------------------*/

header {
    position: absolute;
    top: 12.5%;
    left: 0%;
    margin: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 75%;
    width: 20%;
}

#title_portfolio {
    position: absolute;
    top: 2%;
    left: 15%;
    background-color: rgb(46, 46, 46);
    width: 60%;
    height: 12.5%;
    border-radius: 8%;
    font-size:  x-large;
}

#title_port {
    position: absolute;
    top: 4.75%;
    left: 23.25%;
    font-weight: bolder;
}

#title_folio {
    position: absolute;
    top: 4.75%;
    left: 44%;
    font-weight: lighter;
}

/*------------------------------------------------------------------------------*/

/* --------------------------------------- ScrollBar ---------------------------------------*/

::-webkit-scrollbar {
    width: 7px;
    background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    background-color: #555;
}


/*------------------------------------------------------------------------------*/


/* --------------------------------------- Footer ---------------------------------------*/

footer {
    position: absolute;
    bottom: 0%;
    left: 60%;
    height: 7%;
    width: 30%;
}

#copyright_footer {
    font-size: 100%;
    position: absolute;
    bottom: 30%;
    left: 10%;
    height: 10%;
    width: 100%;
}

/*------------------------------------------------------------------------------*/

/* --------------------------------------- Other ---------------------------------------*/

/*-- Lien --*/

a {
    text-decoration: none;
}

/*-- Keyframes --*/

@keyframes fillColour {
    0% {
      color: #fff;
    }
    50% {
      color: #fff;
    }
    100% {
      color: #333;
    }
  }

/*------------------------------------------------------------------------------*/