/* styles for Header_2 component */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  
  }
  
  .header2 {
    display: flex;
    flex-direction: column;
    gap: 250px;
    width: 100%;
    height: 15vh;
    overflow: hidden;
  }
  
  .background_2 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 15vh;
    background-color: #292929;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }
  
  .content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 80px;
  }

  
  .title{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .title h1{
    font-size: 3.5em;
  }
  
  .arrow{
    width: 30%;
  }