body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.contents {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* AboutMe */

.aboutme {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 110vh;
}

#title{
    padding: 50px;
    color: black;
}

#title h1 {
    font-size: 3.5em;
    font-weight: 800;
}

#subtitle {
  padding-bottom: 75px;
}

#subtitle h3{
  color: #555555;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding-top: 80px;
    width: 100%;
}

.photo, #text {
    flex: 1;
    max-width:100%; 
    box-sizing: border-box; 
    padding: 10px; 
}

.photo img {
  max-width: 52%; 
  height: auto; 
  filter: grayscale(100%);
  transition: ease-in-out 1.5s;
}

.photo img:hover {
    filter: grayscale(0%);
    transition: ease-in-out 1.5s;
}

#text {
  color: black;
  text-align: left;
}

#text h5 {
    max-width: 60%;
    font-size: 1.33em
}

/* PATH */

.path {
    position: relative;
    width: 100%;
    height: 45vh;
    overflow: hidden;
    padding: 30px;
}

.path::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/public/assets/coding.png");
    background-size: cover;
    background-position: center;
    filter: blur(4px) grayscale(90%);
    z-index: -1; 
}

#timeline-path{
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#timeline-path img{
  min-width: 75%;
}

/* SKILLS */

.skills{
    width: 100%;
    height: 190vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.skills-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.skills-columns{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#title-skills{
  color: black;
}

#items-skills{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 50%;
}

#item-skills img{
  transition: 2s;
}

#items-skills img:hover{
  filter: grayscale(100%);
  transition: 2s;
}

.progress-bar{
  background-color: #6B6B6B;
  z-index: 5;
  animation: arriveeGauche 1s;
}

#progress-bar{
  background-color: #EBEBEB;
  height: 17px;
  min-width: 450px;
  max-width: 450px;
  z-index: 9;
}

/* PROJECTS & COMMANDS */

.projects{
    width: 100%;
    height: 190vh;
    background-color: #D9D9D9;
}

.carousel-img {
  max-height: 40;
  max-width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-container {
  max-width: 100%;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  gap: 100px;
}


/* CV */

.cv {
    position: relative;
    width: 100%;
    height: 45vh;
    overflow: hidden;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 70px;
}

.cv::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/public/assets/game.png");
    background-size: cover;
    background-position: center;
    filter: blur(2px) grayscale(100%);
    z-index: -1; 
}

.btn-cv {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.btn-cv a {
    color: #3c4043;
}

.btn-cv:hover {
  background: #F6F9FE;
  color: #4e4e4e;
}

.btn-cv:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.btn-cv:focus {
  outline: none;
  border: 2px solid #4e4e4e;
}

.btn-cv:not(:disabled) {
  box-shadow: rgba(70, 70, 70, 0.15) 0 1px 3px 0, rgba(70, 70, 70, 0.15) 0 4px 8px 3px;
}

.btn-cv:not(:disabled):hover {
  box-shadow: rgba(70, 70, 70, 0.15) 0 2px 3px 0, rgba(70, 70, 70, 0.15) 0 6px 10px 4px;
}

.btn-cv:not(:disabled):focus {
  box-shadow: rgba(70, 70, 70, 0.15) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn-cv:not(:disabled):active {
  box-shadow: rgba(70, 70, 70, 0.15) 0 4px 4px 0, rgba(70, 70, 70, 0.15) 0 8px 12px 6px;
}

.btn-cv:disabled {
  box-shadow: rgba(70, 70, 70, 0.15) 0 1px 3px 0, rgba(70, 70, 70, 0.15) 0 4px 8px 3px;
}

/* CONTACTS */

.contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 115vh;
}

.contacts-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 300px;
}

.left-contacts{
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.div-contacts{
  min-width: 500px;
  max-width: 550px;
}

.bar-contacts{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bar-contacts span {
  width: 30%;
  margin-bottom: 30px;
  height: 30px;
  border-top: 5px solid black;
}

.bar-contacts2{
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
}

.bar-contacts2 span {
  width: 30%;
  margin-top: 20px;
  height: 30px;
  border-top: 5px solid black;
}

#btn-contacts{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#textarea-contacts{
  min-height: 300px;
}

#title-contacts{
  color: black;
}

#fl-contacts{
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 30px;
}

#tl-contacts{
  color: black;
  display: flex;
  flex-direction: row;
  align-items: end;
}

