/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spicy+Rice&display=swap');


html{
  cursor: url('./assets/curseur.png'), auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* SCROLLBAR */

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #565656;
}

body::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* FONT */

/* inika */

.inika-regular {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

.inika-bold {
  font-family: "Inika", serif;
  font-weight: 700;
  font-style: normal;
}

/* inria-sans */

.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inria-sans-light-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inria-sans-regular-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-bold-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* inria-serif */

.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light-italic {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}

/* roboto */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* LINK */

a{
  text-decoration: none;
  color: white;
  cursor: url("./assets/hand.png"), default;
}

a:hover{
  color: #707070;
}

/* BUTTON */

button{
  cursor: url('./assets/hand.png'), default;
}

.btn-black {
  align-items: center;
  appearance: none;
  background-color: #000000;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  transition: 1s ease-in-out;
}

.btn-black a {
    color: #ffffff;
}

.btn-black a:hover {
  color: #000000;
}

.btn-black:hover {
  transition: 1s ease-in-out;
  background: #F6F9FE;
  color: #4e4e4e;
}

.btn-cv:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.btn-black:focus {
  outline: none;
  border: 2px solid #4e4e4e;
}

.btn-black:not(:disabled) {
  box-shadow: rgba(70, 70, 70, 0.15) 0 1px 3px 0, rgba(70, 70, 70, 0.15) 0 4px 8px 3px;
}

.btn-black:not(:disabled):hover {
  box-shadow: rgba(70, 70, 70, 0.15) 0 2px 3px 0, rgba(70, 70, 70, 0.15) 0 6px 10px 4px;
}

.btn-black:not(:disabled):focus {
  box-shadow: rgba(70, 70, 70, 0.15) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn-black:not(:disabled):active {
  box-shadow: rgba(70, 70, 70, 0.15) 0 4px 4px 0, rgba(70, 70, 70, 0.15) 0 8px 12px 6px;
}

.btn-black:disabled {
  box-shadow: rgba(70, 70, 70, 0.15) 0 1px 3px 0, rgba(70, 70, 70, 0.15) 0 4px 8px 3px;
}

/* ANIMATIONS */

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(100px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(720deg);
  }
}

@keyframes rotateX {
  0% {
    transform: rotateX(0deg);
  }
  100%{
    transform: rotateX(360deg);
  }
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}

/* ARRIVE PAR UN COTE*/

@keyframes arriveeHaut {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes arriveeBas {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes arriveeGauche {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes arriveeDroite {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: arriveeGauche 1s forwards;
}

.animate-slide-in-right {
  animation: arriveeDroite 1s forwards;
}

.animate-slide-in-top {
  animation: arriveeHaut 1s forwards;
}

.animate-slide-in-bot {
  animation: arriveeBas 1s forwards;
}

/* TAILLE */

@keyframes agrandir {
  from {
    transform: scale(0.9); 
  }
  to {
    transform: scale(1); 
  }
}   

.animate-zoom-in{
  animation: agrandir 1s forwards;
}

@keyframes rapticir {
  from {
    transform: scale(1); 
  }
  to {
    transform: scale(0.9); 
  }
} 

.animate-unzoom-in{
  animation: rapticir 1s forwards;
}

/* RESONSIVE */


/* Smartphones jusqu'à 425px de large 

Tablettes de 426px à 767px de large

Ordinateurs portables de 768px jusqu’à 1388px de large

Écrans de bureau supérieurs à 1388px de large */

/* 1388px "écran de bureau" */

@media screen and (max-width : 1388px) {
  header{
      display: flex; 
  }

  .title-bar{
    padding: 0 !important;
  }

  .navbar{
      padding: none;
      margin: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .nav-links{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300%;
    transition: all 0.35s ease-in-out;
  }

  .nav-links.mobile-menu{
    margin-left: 0;
  }

  .nav-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
  }

  .nav-links li{
    animation: agrandir 1s ease-out forwards;
  }

  .navbar .nav-links ul li{
      margin: 20px 0;
  }

  .navbar ul li a {
    color: rgb(29, 29, 29);
    transition:  ease-in-out 1s;
  }

  .dropdown-toggle {
    color: rgb(0, 0, 0) !important;
    transition:  ease-in-out 1s
  }
  
  .dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  
  .flag{
    color: rgb(0, 0, 0) !important;
    transition:  ease-in-out 1s
  }
  
  .flag::after {
    border-width: 0;
  }

  .image{
    margin-top: 30px;
  }

  .navbar .menu-burger{
    display: block !important;
    margin-left: 250px;
    margin-top: 20px;
    max-width: 17%;
    min-width: 14%;
  }

  /* Other */

  .projects{
    max-height: 150vh;
  }
}

/* 768px and 1388px "ordinateurs portables" */

@media screen and (min-width : 768px) and (max-width : 1388px) {

  /* Other */

  #text{
    font-size: 0.8em;
  }

  .skills{
    min-height: 150vh;
    max-height: 210vh;
  }

  .projects{
    min-height: 100vh;
    max-height: 160vh;
  }

  #btn-contacts{
    margin-bottom: 100px;
  }
}

/* Ajustement spécifique pour les écrans de 768px à 1080px */
@media screen and (min-width: 768px) and (max-width: 1080px) {
  .navbar .menu-burger{
    margin-left: 75px;
    min-width: 23%;
  }
  /* Other */
  .path{
    max-height: 30vh;
  }

  .projects{
    min-height: 100vh;
    max-height: 125vh;
  }
}

/* Ajustement spécifique pour les écrans de 900px à 1080px */
@media screen and (min-width: 900px) and (max-width: 1080px) {
  .navbar .menu-burger{
    margin-left: 150px;
    min-width: 17%;
  }
}

/* 426px and 767px "tablettes" */

@media screen and (min-width : 426px) and (max-width : 767px) {

  .navbar .menu-burger{
    margin-left: 150px;
    min-width: 20%;
    max-width: 25%;
  }

  .navbar ul li a{
    font-size: 0.7em;
  }

  .title-bar{
    gap: 20px !important;
  }

  .image{
    margin-right: 150px;
  }

  #title{
    padding: 20px !important;
  }

  .copyright h3 {
    font-size: 1.5em;
  }

  .plan-footer h2 {
    font-size: 1.5em;
  }
  
  /* Other */

  #text {
    display: flex!important; 
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center !important; 
    font-size: 0.6em!important;
    text-align: center !important;
    height: 100%!important;
    margin-bottom: 50px;
  }

  .container {
    flex-direction: column-reverse !important;
    padding-top: 0px !important;
    height: 100%!important;
  }

  .photo img {
    max-width: 45% !important;
    margin-bottom: 100px!important;
  }

  #text h5 {
    max-width: 100%!important;
    margin: 0!important;
  }

  .path{
    max-height: 30vh;
  }

  #items-skills img{
    max-width: 50px !important;
  }

  #progress-bar{
    min-width: 250px !important;
  }

  .projects{
    min-height: 60vh;
    max-height: 130vh;
  }

  .carousel-img {
    max-height: 40%;
    max-width: 70% !important;
  }

  .div-contacts{
    min-width: 300px !important;
  }

  .contacts-container{
    gap: 100px !important;
  }

  #btn-contacts{
    margin-bottom: 100px;
  }
}

/* Ajustement spécifique pour les écrans de 560px à 710px */
@media screen and (min-width: 560px) and (max-width: 710px) {
  .navbar .menu-burger{
    min-width: 35%;
    margin-left: 20px;
  }
}

/* Ajustement spécifique pour les écrans de 426px à 560px */
@media screen and (min-width: 426px) and (max-width: 560px) {

  .navbar .menu-burger{
    min-width: 23%;
    margin-left: 100px;
  }

  .navbar ul li a{
    font-size: 0.7em;
  }

  .title-bar{
    gap: 20px !important;
  }

  .image{
    margin-right: 50px;
  }

  .header-element{
    display: flex !important;
    flex-direction: column-reverse !important;
    align-items: center !important;
    gap: 40px;
  }

  .networks{
    display: flex !important;
    flex-direction: row !important;
    padding-bottom: 90px;
    align-items: center !important;
    justify-content: center !important;
    gap: 40px !important;
  }

  .networks img{
    min-width: 180% !important;
  }

  #network{
    margin-left: 0 !important;
  }

  .title{
    width: 100% !important;
    gap: 0px !important;
  }

  .arrow{
    padding-top: 40px;
    min-width: 10vh !important;
    min-height: 5vh !important;
  }

  footer{
    padding: 6px !important;
  }

  .copyright h3 {
    font-size: 1.1em;
  }

  .plan-footer h2 {
    font-size: 1em;
  }

  /* Other */

  #timeline-path{
    max-width: 100% !important;
    overflow-x: scroll !important;
    align-items: center !important;
  }

  #timeline-path img{
    min-width: 700px !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .projects{
    min-height: 60vh;
    max-height: 110vh;
  }
}

/* 425px "smartphone" */

@media screen and (max-width : 425px) {

  .navbar .menu-burger{
    min-width: 23%;
    margin-left: 100px;
  }

  .navbar ul li a{
    font-size: 0.7em;
  }

  .title-bar{
    gap: 20px !important;
  }

  .image img{
    min-width: 22% !important;
    max-width: 28% !important;
  }

  .header-element{
    display: flex !important;
    flex-direction: column-reverse !important;
    align-items: center !important;
    gap: 40px;
  }

  .networks{
    display: flex !important;
    flex-direction: row !important;
    padding-bottom: 90px;
    align-items: center !important;
    justify-content: center !important;
    gap: 10px !important;
  }

  .networks img{
    min-width: 100% !important;
  }

  #network{
    margin-left: 0 !important;
  }

  .title{
    width: 100% !important;
    gap: 0px !important;
  }

  .title h1{
    font-size: 2.8em !important;
  }

  .title h2{
    font-size: 1.3em !important;
  }

  .arrow{
    padding-top: 40px;
    min-width: 10vh !important;
    min-height: 5vh !important;
  }

  footer{
    padding: 6px !important;
  }

  .copyright h3 {
    font-size: 1.1em;
  }

  .plan-footer h2 {
    font-size: 1em;
  }

  #title{
    padding: 10px !important;
  }

  #title h1{
    font-size: 2em !important;
  }

  /* Other */

  #text {
    display: flex!important; 
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center !important; 
    font-size: 0.6em!important;
    text-align: center !important;
    height: 100%!important;
    margin-bottom: 50px;
  }

  .container {
    flex-direction: column-reverse !important;
    padding-top: 0px !important;
    height: 100%!important;
  }

  .photo img {
    max-width: 45% !important;
    margin-bottom: 100px!important;
  }

  #text h5 {
    max-width: 100%!important;
    margin: 0!important;
  }

  .path{
    max-height: 29vh;
  }

  #timeline-path{
    max-width: 100% !important;
    overflow-x: scroll !important;
    align-items: center !important;
  }

  #timeline-path img{
    min-width: 700px !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .skills{
    max-height : 175vh;
  }
  
  #items-skills img{
    min-width: 15px !important;
    max-width: 50px !important;
  }

  #progress-bar{
    min-width: 150px !important;
    height: 13px !important;
  }

  .projects{
    min-height: 50vh;
    max-height: 90vh;
  }

  .carousel-img {
    max-height: 40%;
    max-width: 70% !important;
  }
  
  .div-contacts{
    min-width: 180px !important;
  }

  .contacts-container{
    gap: 100px !important;
  }

  #btn-contacts{
    margin-bottom: 100px;
  }
}