html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  
  }

.politiquesconf-container{
    width: 100%;
    height: 210vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 0px;
    padding: 100px;
}

.txt-politiques {
    display: flex;
    flex-direction: column;
    gap: 30px;
}